.main__bg {
  background-image: linear-gradient(
    -45deg,
    #ffda91 0%,
    #ffbeda 29%,
    #b8d9fd 66%,
    #daadfa 100%
  );
  animation: changeGradient 15s ease-in-out infinite;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  /* opacity: 0.5; */
  z-index: -1;
}

.layer1 {
  animation-direction: alternate-reverse;
  animation-duration: 15s;
}

.layer2 {
  animation-duration: 15s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

@keyframes changeGradient {
  0%,
  100% {
    background-image: linear-gradient(
      -45deg,
      #ffda91 0%,
      #ffbeda 29%,
      #b8d9fd 66%,
      #daadfa 100%
    );
  }

  25% {
    background-image: linear-gradient(
      -45deg,
      #ffbeda 0%,
      #b8d9fd 29%,
      #daadfa 66%,
      #ffda91 100%
    );
  }

  50% {
    background-image: linear-gradient(
      -45deg,
      #b8d9fd 0%,
      #daadfa 29%,
      #ffda91 66%,
      #ffbeda 100%
    );
  }

  75% {
    background-image: linear-gradient(
      -45deg,
      #daadfa 0%,
      #ffda91 29%,
      #ffbeda 66%,
      #b8d9fd 100%
    );
  }
}
