@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&family=Montserrat:ital,wght@0,300;0,400;1,300&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,800&family=Poppins:wght@300;400&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&family=Montserrat:ital,wght@0,300;0,400;1,300&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,800&family=Poppins:wght@300;400&family=Roboto&family=Roboto+Slab:wght@300;400&display=swap");
.main__bg {
  background-color: white; /* For browsers that do not support gradients */
  background-image: url("https://www.pickcel.com/assets/img/bg/industry-bg.png");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.layer1 {
  animation-direction: alternate-reverse;
  animation-duration: 15s;
}

.layer2 {
  animation-duration: 15s;
}

.scroll-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(calc(100% * 12)); /* Number of clients in your list */
  }
  100% {
    transform: translateX(calc(-100% * 12));
  }
}

.scroll-item {
  flex-shrink: 0;
  animation: scroll 20s linear infinite;
  animation-direction: alternate-reverse; /* Adjust the duration as needed */
  margin-right: 10px; /* Adjust margin as needed */
}

.scroll-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Add border-radius for rounded corners */
}

.button {
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button.button--aylen {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.button--aylen::before,
.button--aylen::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
  background: linear-gradient(113deg, #fd0036 24.5%, #ffa800);
}
.button--aylen::after {
  background: linear-gradient(113deg, #ec5a73 24.5%, #fac865);
}
.button--aylen:hover::before,
.button--aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url(https://db.onlinewebfonts.com/c/239a907fbc4c6299e25ac127f7322587?family=Centra+No2+Medium);
@import url(https://db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2);

body {
  /* font-family: "Mulish"; */
  font-family: "Centra No2";
  overflow-x: hidden;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 90;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 90;
    border-radius: 20%;
  }
}

.dropbtn {
  font-size: 16px;
  border: none;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 70vw;
  height: 40vh;
  top: 55px;
  border-radius: 10px;
  animation: animatedrop 0.5s ease-in-out forwards;
}
.dropdown-content2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 70vw;
  height: 40vh;
  top: 55px;
  border-radius: 10px;
  animation: animatedrop 0.5s ease-in-out forwards;
}

.dropdown-content3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 70vw;
  height: 40vh;
  top: 55px;
  border-radius: 10px;
  animation: animatedrop 0.5s ease-in-out forwards;
}

.dropdown-content1 a {
  color: black;
  padding: 8px 30px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 a {
  color: black;
  padding: 8px 30px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a {
  color: black;
  padding: 8px 30px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content1 {
  display: block;
}
.dropdown:hover .dropdown-content2 {
  display: block;
}
.dropdown:hover .dropdown-content3 {
  display: block;
}

.dropdown:not(:hover) .dropdown-content1 {
  transition-delay: 1s; /* Add a delay before hiding */
  display: none; /* Initially hide the dropdown-content */
}
.dropdown:not(:hover) .dropdown-content2 {
  transition-delay: 1s; /* Add a delay before hiding */
  display: none; /* Initially hide the dropdown-content */
}
.dropdown:not(:hover) .dropdown-content3 {
  transition-delay: 1s; /* Add a delay before hiding */
  display: none; /* Initially hide the dropdown-content */
}
#navbar-toggle {
  position: relative;
  right: 0;
  height: 0;
  background-color: #fff;
  animation: toggle 0.7s ease forwards;
  z-index: 2;
}

@keyframes toggle {
  0% {
    right: -400px;
  }
  100% {
    right: 0;
  }
}
@keyframes animatedrop {
  0% {
    top: 55px;
  }
  100% {
    top: 42px;
  }
}

.writer {
  overflow: hidden;
  animation: typewriter 3s steps(13) infinite alternate;
}

@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 50%;
  }
}


.ripple-background {
  position: absolute;
  top: 100%;
  left: 0;

}



.circle{
  position: absolute;
  top: 80;
  border-radius: 50%;
  background: linear-gradient(113deg, #fd0036 24.5%, #ffa800);
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}



.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}



@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}
