@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&family=Montserrat:ital,wght@0,300;0,400;1,300&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,800&family=Poppins:wght@300;400&family=Roboto&display=swap");
.main__bg {
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(#ffda91 0%, white);
  /* animation: changeGradient 15s ease-in-out infinite; */
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  opacity: 0.9;
  z-index: 1;
}

.layer1 {
  animation-direction: alternate-reverse;
  animation-duration: 15s;
}

.layer2 {
  animation-duration: 15s;
}

/* @keyframes changeGradient {
  0%,
  100% {
    background-image: linear-gradient(#ffda91 0%, #fff 100%);
  }

  25% {
    background-image: linear-gradient(#ffbeda 0%, #fff 100%);
  }

  50% {
    background-image: linear-gradient(#b8d9fd 0%, #fff 100%);
  }

  75% {
    background-image: linear-gradient(#daadfa 0%, #fff 100%);
  }
} */

.scroll-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(calc(100% * 12)); /* Number of clients in your list */
  }
  100% {
    transform: translateX(calc(-100% * 12));
  }
}

.scroll-item {
  flex-shrink: 0;
  animation: scroll 20s linear infinite;
  animation-direction: alternate-reverse; /* Adjust the duration as needed */
  margin-right: 10px; /* Adjust margin as needed */
}

.scroll-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Add border-radius for rounded corners */
}

.button {
  min-width: 150px;
  max-width: 250px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button.button--aylen {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.button--aylen::before,
.button--aylen::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
  background: linear-gradient(113deg, #fd0036 24.5%, #ffa800);
}
.button--aylen::after {
  background: linear-gradient(113deg, #ec5a73 24.5%, #fac865);
}
.button--aylen:hover::before,
.button--aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Mulish";
  overflow-x: hidden;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #171717;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 90;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 90;
    border-radius: 20%;
  }
}

.dropbtn {
  font-size: 16px;
  border: none;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 70vw;
  height: 40vh;
  left: -375px;
  top: 55px;
  padding: 40px;
  border-radius: 10px;
  animation: animatedrop 0.5s ease-in-out forwards;
}
.dropdown-content2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 70vw;
  height: 40vh;
  left: -480px;
  top: 55px;
  padding: 40px;
  border-radius: 10px;
  animation: animatedrop 0.5s ease-in-out forwards;
}

.dropdown-content3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;

  width: 35vw;
  height: 35vh;
  left: -300px;
  top: 55px;
  padding: 25px 20px 20px 30px;
  border-radius: 10px;
  animation: animatedrop 0.5s ease-in-out forwards;
}

.dropdown-content1 a {
  color: black;
  padding: 8px 30px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 a {
  color: black;
  padding: 8px 30px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a {
  color: black;
  padding: 8px 30px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content1 {
  display: block;
}
.dropdown:hover .dropdown-content2 {
  display: block;
}
.dropdown:hover .dropdown-content3 {
  display: block;
}

.dropdown:not(:hover) .dropdown-content1 {
  transition-delay: 1s; /* Add a delay before hiding */
  display: none; /* Initially hide the dropdown-content */
}
.dropdown:not(:hover) .dropdown-content2 {
  transition-delay: 1s; /* Add a delay before hiding */
  display: none; /* Initially hide the dropdown-content */
}
.dropdown:not(:hover) .dropdown-content3 {
  transition-delay: 1s; /* Add a delay before hiding */
  display: none; /* Initially hide the dropdown-content */
}

@keyframes animatedrop {
  0% {
    top: 55px;
  }
  100% {
    top: 42px;
  }
}

.writer {
  font-size: 70px;
  overflow: hidden;
  animation: typewriter 3s steps(13) infinite alternate;
}

@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 50%;
  }
}
